asgiref==3.8.1
autopep8==2.3.2
certifi==2024.12.14
chardet==5.2.0
charset-normalizer==3.4.1
crispy-bootstrap4==2024.10
defusedxml==0.7.1
distlib==0.3.9
Django==5.1.5
django-allauth==65.3.1
django-countries==7.6.1
django-crispy-forms==2.3
django-debug-toolbar==5.0.1
djangorestframework==3.15.2
filelock==3.16.1
idna==3.10
oauthlib==3.2.2
pep8==1.7.1
pillow==11.1.0
platformdirs==4.3.6
pycodestyle==2.12.1
python-decouple==3.8
python3-openid==3.2.0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.3
stripe==11.4.1
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.28.1
